<div id="main-wrapper" class="container">
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="card border-0">
        <div class="card-body p-0">
          <div class="row no-gutters">
            <div class="col-lg-6">
              <div class="p-5">
                <h6 class="h5 mb-0">Sign Up</h6>
                <p class="text-muted mt-2 mb-5">Create an account to get access all features</p>

                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>

                  <div class="form-group mb-4">
                    <%= f.label :first_name, class:"text-capitalize" %><br />
                    <%= f.text_field :first_name, class:"form-control", autofocus: true %>
                  </div>

                  <div class="form-group mb-4">
                    <%= f.label :last_name, class:"text-capitalize" %><br />
                    <%= f.text_field :last_name, class:"form-control" %>
                  </div>
                  <div class="form-group mb-4">
                    <%= f.label :username, class:"text-capitalize" %><br />
                     <%= f.text_field :username, class:"form-control", autofocus: true %>
                  </div>

                  <div class="form-group mb-4">
                    <%= f.label :email, class:"text-capitalize" %><br />
                    <%= f.email_field :email, class:"form-control", autofocus: true, autocomplete: "email" %>
                  </div>

                  <div class="form-group mb-4">
                    <%= f.label :password, class:"text-capitalize" %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, class:"form-control", autocomplete: "new-password" %>
                  </div>
                  
                  <div class="form-group mb-4">
                    <%= f.label :password_confirmation, class:"text-capitalize" %><br />
                    <%= f.password_field :password_confirmation, class:"form-control", autocomplete: "new-password" %>
                  </div>
                  
                  <%= f.submit "Sign up", class:"btn btn-success form-control" %>
                <% end %>

                <p class="info text-muted text-center mt-3 mb-0">Already have an account? <%= render "devise/shared/links" %></p>
              </div>
            </div>

            <div class="col-lg-6 bg-light d-flex">
              <%= image_tag "rocket.png", class:"mx-auto align-self-center img-fluid" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
