

<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>
      <% if action_name == "index" %>
        Ongoing Campaigns
      <% elsif action_name == "my_campaigns" %>
        Your Campaigns
      <% end %>
    </h1>

    <% if user_signed_in? %>
      <%= link_to 'New Campaign', new_campaign_path, class: "btn btn-success" %>
    <% end %>
  </div>

  <% @campaigns.each do |campaign| %>
    <div class="card mb-4">
      <!-- Campaign Image -->
      <% if campaign.cover_image.attached? %>
        <%= image_tag campaign.cover_image, alt: "Campaign Cover Image", class: "card-img-top" %>
      <% else %>
        <img src="" alt="Default Image" class="card-img-top">
      <% end %>

      <div class="card-body">
        <!-- Campaign Title -->
        <h5 class="card-title"><%= campaign.title %></h5>
        
        <!-- Campaign Description -->
       <p class="card-text"><%= campaign.content.to_plain_text.truncate(100) %></p>

      </div>
    <div class="card-footer">
      <div class="btn-group" role="group">
        <a href="#" class="btn btn-primary">Share</a>

        <% if user_signed_in? && action_name == "my_campaigns" %>
          <%= link_to 'Edit', edit_campaign_path(campaign), class: "btn btn-warning" %>
          <%= button_to 'Delete', campaign_path(campaign), method: :delete, onclick: "return confirm('Are you sure you want to delete this campaign?');", class: 'btn btn-danger' %>

        <% end %>
      </div>
    </div>
  <% end %>
</div>
